body{
    font-family: "Inter", sans-serif;
    margin: 0;
}


.navbar {
    height: 100px;
    display: flex;
    align-items: center;
    padding: 0 90px;
}

.logo{
    text-decoration: none;
    color: black;
}

.nav-left,
.nav-center,
.nav-right {
    flex: 1;
}

.nav-center {
    display: flex;
    justify-content: center;
}

.nav-right {
    display: flex;
    justify-content: flex-end;
    gap: 15px;
}

.menu {
    list-style: none;
    display: flex;
    /* justify-content: space-around; */
    gap: 100px;
}

.menu li a {
    text-decoration: none;
    color: #000;
}

.btn-auth {
    background: #000;
    color: #fff;
    padding: 8px 18px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
}

.show {
    padding: 35px 40px;
    background-color: rgb(238, 238, 238);
}

.box-des {
    padding: 5px 20px;
    border-radius: 20px;
    font-weight: 400;
    font-size: 1rem;
    background-color: white;
}

.show-box {
    padding: 30px;
    border-radius: 20px;
    background: white;
    border: 2px solid rgb(220, 220, 220);
}

.show-item {
    margin-top: 20px;
    background-color: orange;
    padding: 20px;
    border-radius: 7px;
    border: 1px solid rgb(255, 178, 35);
}

.box-img {
    justify-content: center;
    align-items: center;
    display: flex;
}

.slide-img {
    width: 100%;
    height: 350px;
    object-fit: cover; /* kaya background-size: cover */
    border-radius: 10px;
}

.swiper {
    width: 1600px; /* sesuaikan */
    height: 350px;
}

hr {
    border: none;
    height: 2px;
    width: 50%;
    align-self: center;
    justify-self: center;
    background: #e5e5e5;
    margin: 20px 0;
}

.container {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    margin-top: 10px;
    padding: 20px;
    align-items: center;
}

.left-info, .right-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.right-info{
    background-color: white;
    border-radius: 9px;
    border: 2px solid rgb(201, 201, 201);
    padding: 10px 30px;
}

/* .left-info p, .right-info p {
    margin: 0;
    font-size: 16px;
} */

.left-info p{
    font-size: 22px;
}

.des-title {
    background: orange;
    padding: 10px 0;
    font-size: 2rem;
    text-align: center;
    color: white;
    border-radius: 10px;
    margin: 0;
    margin-bottom: 20px;
}

.des-img {
    width: 50%;
    height: 60vh;
    object-fit: cover;
    object-position: bottom;
    border-radius: 10px;
}

.poin {
        border: none;
    height: 2px;
    width: 100%;
    align-self: center;
    justify-self: center;
    background: #e5e5e5;
    margin: 0;
}
